{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">{{ title }}</h3>
                    <p>{{ _('Enter your email address and we will send you a new confirmation link.') }}</p>
                    {{ render_form(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}